@page
@model CourseSales.Web.Pages.Instructor.CreateCourseModel
@{
    ViewData["Title"] = "Create Course";
    Layout = "_Instructor_Layout";
}

<h2>Create Course</h2>
<div asp-validation-summary="ModelOnly" class="alert alert-warning text-bg-warning   border-warning"></div>
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="CreateCourseViewModel.Name" class="form-label"></label>
        <input asp-for="CreateCourseViewModel.Name" class="form-control" />
        <span asp-validation-for="CreateCourseViewModel.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CreateCourseViewModel.Description" class="form-label"></label>
        <textarea asp-for="CreateCourseViewModel.Description" class="form-control"></textarea>
        <span asp-validation-for="CreateCourseViewModel.Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CreateCourseViewModel.Price" class="form-label"></label>
        <input asp-for="CreateCourseViewModel.Price" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="CreateCourseViewModel.Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CreateCourseViewModel.CategoryId" class="form-label"></label>
        <select asp-for="CreateCourseViewModel.CategoryId" asp-items="Model.CreateCourseViewModel.CategoryDropdownList" class="form-control">
            <option value="">Kategori Seçiniz</option>
        </select>
        <span asp-validation-for="CreateCourseViewModel.CategoryId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CreateCourseViewModel.PictureFormFile" class="form-label"></label>
        <input asp-for="CreateCourseViewModel.PictureFormFile" class="form-control" type="file" />
        <span asp-validation-for="CreateCourseViewModel.PictureFormFile" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
